
.cardContainer {
    width: 95vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    

    .card {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -25%;
        height: 500px;
        width: 98%;
        // width: 1000px;
        // border-radius: 25px;
        padding: 10px;
        transform-origin: top;
        
 
        h2 {
            text-align: center;
            margin: 0px;
            font-size: 28px;
        }

        .body {
            display: flex;

            height: 100%;
            margin-top: 50px;
            gap: 50px;

            .description {
                // width: 40%;
                position: relative;
                top: 10%;

                p {
                    font-size: 16px;

                    // &::first-letter {
                    //     font-size: 28px;
                    //     font-family: 'Title';
                    // }
                }

                span {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    a {
                        font-size: 12px;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            .imageContainer {
                position: relative;
                width: 70%;
                height: 100%;
                border-radius:25px;
                overflow: hidden;
                border-radius:25px;
                
                .inner {
                    width: 100%;
                    height: 100%;
                }
                
                img {
                    object-fit: contain;
                }
            }
        }
    }
}

.shufflePapers,
.shufflePapers:before,
.shufflePapers:after {
    background-color: #ebf4e9;;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.shufflePapers {
    position: relative;
    // width: 50%;
    padding: 2em;
    margin: 50px auto;
}

.shufflePapers:before,
.shufflePapers:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateZ(0.7deg);
    -o-transform: rotate(0.7deg);
    transform: rotateZ(0.7deg);
    z-index: -1;
}

.shufflePapers:after {
    -webkit-transform: rotateZ(-0.7deg);
    -o-transform: rotate(-0.7deg);
    transform: rotateZ(-0.7deg);
}

.shufflePapers:hover::after,
.shufflePapers:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateZ(0.4deg);
    -o-transform: rotate(0.4deg);
    transform: rotateZ(0.4deg);
    z-index: -1;
    transition: all;
    transition-duration: 0.4s;
}

.shufflePapers:hover::after {
    -webkit-transform: rotateZ(-0.4deg);
    -o-transform: rotate(-0.4deg);
    transform: rotateZ(-0.4deg);
    transition: all;
    transition-duration: 0.4s;
}

//Taped 

// :root {
//     --pink: #ecb2ba;
//     --pink-dark: #c6939a;
//     --tape-gray: #dbd8be;
//     --tape-edge-gray: #b7b49d;
//     --transparent: rgba(255, 255, 255, 0);
// }
.pink {
    --paper-color:#ecb2ba;
    --paper-dark: #c6939a;
    --shadow-size: 1px;
    --transparent: rgba(236, 178, 186, 0);
}

.blue {
    --paper-color: #d5e0f9;
    --paper-dark: #c2d0ea;
    --shadow-size: 3px;
    --transparent: rgba(213, 224, 249, 0);
}

.tapePaper {
    position: relative;
    background: linear-gradient(to bottom right,
            #c6939a,
            20%,
            rgba(236, 178, 186, 0)),
        #ecb2ba;
    min-width: 150px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
    box-shadow: 1px 1px 2px #c6939a;
    margin: auto;
    margin-top: 15px;
}

.tapePaper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(236, 178, 186, 0),
            50%,
            #c6939a,
            51%,
            rgba(236, 178, 186, 0)),
        linear-gradient(to right,
            rgba(236, 178, 186, 0),
            50%,
            #c6939a,
            51%,
            rgba(236, 178, 186, 0));
}

.tapeSection {
    position: absolute;
    width: 100%;
}

.topTape {
    position: absolute;
    height: 3vmin;
    top: -5px;
    width: 110%;
    // background-color: var(--tape-gray);
    background-color: #dbd8be;
    border-right: 1px dotted #c6939a;
    border-left: 1px dotted #c6939a;
    // border-right: 1px dotted var(--tape-edge-gray);
    // border-left: 1px dotted var(--tape-edge-gray);
    opacity: 0.5;
}

.tapeSection:first-of-type {
    top: 0;
}

.tapeSection:last-of-type {
    bottom: 0;
}

.tapeSection::before,
.tapeSection::after {
    content: "";
    width: 8vmin;
    height: 3vmin;
    position: absolute;
    background-color: #dbd8be;
    opacity: 0.5;
    border-right: 1px dotted  #b7b49d;
    border-left: 1px dotted  #b7b49d;
}

.tapeSection:last-of-type::after {
    transform: rotate(-45deg);
    right: -3vmin;
    top: -2vmin;
}

.tapeSection:first-of-type::before {
    transform: rotate(-45deg);
    left: -4vmin;
}

.tapeSection:first-of-type::after {
    transform: rotate(45deg);
    right: -4vmin;
    top: 0;
}

.tapeSection:last-of-type::before {
    transform: rotate(45deg);
    left: -4vmin;
    bottom: 0;
}

// Folded
//////////////////////////////////////////////////////////////////
/// 
$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
    $value: $base;

    @if $exp >1 {
        @for $i from 2 through $exp {
            $value: $value * $base;
        }
    }

    @if $exp < 1 {
        @for $i from 0 through -$exp {
            $value: $value / $base;
        }
    }

    @return $value;
}

@function fact($num) {
    $fact: 1;

    @if $num >0 {
        @for $i from 1 through $num {
            $fact: $fact * $i;
        }
    }

    @return $fact;
}

@function _to_unitless_rad($angle) {
    @if unit($angle)=="deg" {
        $angle: $angle / 180deg * $pi;
    }

    @if unit($angle)=="rad" {
        $angle: $angle / 1rad;
    }

    @return $angle;
}

@function sin($angle) {
    $a: _to_unitless_rad($angle);
    $sin: $a;

    @for $n from 1 through $_precision {
        $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1)) * pow($a, (2 * $n + 1));
    }

    @return $sin;
}

@function cos($angle) {
    $a: _to_unitless_rad($angle);
    $cos: 1;

    @for $n from 1 through $_precision {
        $cos: $cos + (pow(-1, $n) / fact(2*$n)) * pow($a, 2*$n);
    }

    @return $cos;
}

@function tan($angle) {
    @return sin($angle) / cos($angle);
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

@mixin foldedCorner($angle: 30deg, $bgColor, $size) {
    position: relative;
    background: $bgColor;
    background: linear-gradient($angle - 180deg, transparent $size, $bgColor 0);
    border-radius: 0.5em;


    $x: $size / sin($angle);
    $y: $size / cos($angle);
    $rotateAngle: 180deg - $angle * 2;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient($angle + 180deg, transparent 50%, rgba(darken($bgColor, 15%), .6) 0, rgba(darken($bgColor, 20%), .8) 100%) 100% 0 no-repeat;
        width: $x;
        height: $y;
        transform: rotateX(180deg) rotateZ($rotateAngle);
        border-bottom-left-radius: inherit;
        box-shadow: -.2em .2em .3em -.1em rgba(0, 0, 0, .15);

    }
}


// .main {
//     width: 100vw;
//     min-height: 100vh;
//     padding: 4em;
//     background: #e2d8a7;
//     color: #fff;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-family: 'Open Sans', sans-serif;


// }

// .container {
//     width: 80%;
//     display: grid;
//     align-items: center;
//     justify-content: center;
//     grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
//     grid-gap: 3em;

// }

.note {
    width: 100px;
    height: 50px;
   

    &--blue {
        @include foldedCorner(30deg, #528579, 1em);
    }

    &--organge {
        @include foldedCorner(30deg, #e1a36f, 0.75em);
    }

    &--pink {
        @include foldedCorner(70deg, #d97d70, 1em);
    }

    &--green {
        @include foldedCorner(25deg, #6f916e, 1.25em);
    }
}

.noteBlue {
    @include foldedCorner(30deg, #528579, 1em);
}

.noteBlue:hover {
    @include foldedCorner(30deg, #528579, 0);
}

.noteOrange {
    @include foldedCorner(30deg, #e1a36f, 0.75em);
}

.notePink {
    @include foldedCorner(70deg, #d97d70, 1em);
}

.noteGreen {
    @include foldedCorner(25deg, #6f916e, 1.25em);
}

/////////////////////////////////////////////////////
$width: 8rem;

.paper-corner {
    background-color: #FFFF8D;
    width: $width;
    height: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;


    h2 {
        font-size: 2rem;
        font-family: Lato, sans-serif;
        color: #455A64;
    }

    &:before,
    &:after {
        border: $width/10 solid;
        width: 0;
        height: 0;
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        transition: all;
        transition-duration: 0.8s;
        border-radius: 0 0 0 1rem;
    }

    &:after {
        border-color: transparent transparent #f5f125 #f5f125;
        box-shadow: 1px 1px 5px 1px #455A64;
    }

    &:hover:after {
        border-color: transparent transparent transparent transparent;
        box-shadow: none;
    }

    &:before {
        border-color: #e2d8a7 #e2d8a7 transparent transparent;
    }

    &:hover:before {
        border-color: transparent transparent transparent transparent;
    }
}